.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.heading h2 {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 1;
}

.heading h4 {
	width: 50%;

	font-weight: 100;
	padding-left: 1rem;
	border-left: 1px solid var(--primary-color);
}
